@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
  background-color: #a1a1a1;
  width: 50vw;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}